@model EntityLayer.Concrete.User
@{ Layout = null; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Register</title>
</head>

@using (Html.BeginForm())
{
    <div class="container">
        <h2>Sign Up</h2>
        <div asp-validation-summary="All" class="text-warning"></div>
        @Html.AntiForgeryToken()
    <div class="form-group">
        <label>Name</label>
        @Html.TextBoxFor(i => i.Name, new { @placeholder = "Enter name", @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Name)
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Surname</label>
        @Html.TextBoxFor(i => i.Surname, new { @placeholder = "Enter surname", @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Surname)
        <span asp-validation-for="Surname" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Email</label>
        @Html.TextBoxFor(i => i.Email, new { @type = "email", @placeholder = "Enter email", @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Email)
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Password</label>
        @Html.TextBoxFor(i => i.Password, new { @type = "password", @placeholder = "Enter password", @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Password)
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
        <div class="d-flex justify-content-center links">
            Already have an account <a href="@Url.Action("Login", "Login")" class="ml-2">Login</a>
        </div>
    </div>
}
</html>
@Html.Raw(TempData["ErrorCard"])

